.App {
  text-align: center;
  
}

.Header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightsteelblue;
}

.NavBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  color: darkslategrey;
}

.Form {
  display: flex;
  flex-direction: column;
}
.btn {
  margin-bottom: 10px;
}



.form-control {
  margin-bottom: 10px;
}

img {
  padding: 20px;
  width: 65%;
}

.BookCards {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30%;
}

.MainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SignUp {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin:15%;
  background-color: rgb(211, 224, 233);
  border-radius: 10px;
}