.App {
  text-align: center;
  
}

.Header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightsteelblue;
}

.NavBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: lightgray;
  color: white;
}

.Form {
  display: flex;
  flex-direction: column;
  size: 15%;
}